.page-header {
  background-color: $main-background-color;
  border-bottom: 1px solid #ececec;
  
}

.site-nav__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
